.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.signup-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 300px; */
  margin-top: 5%;
  height: 80%;
  width: 35%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  border: 2px solid #343a40;
}

.signup-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.signup-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

.signup-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #0056b3;
}
.error-message {
  color: #d32f2f; /* Red color for errors */
  background-color: #f8d7da; /* Light red background */
  border-color: #f5c2c7;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  width: 100%; /* Full width */
  box-sizing: border-box;
}

.password-hints p {
  font-size: 14px;
  color: #333;
}

.password-hints ul {
  list-style-type: none;
  padding: 0;
}

.password-hints li {
  font-size: 12px;
  /* color: #555; */
}

.met {
  color: #28a745;
}

.unmet {
  color: #dc3545;
}
.error-message-container{
    height: 40px;
}