.gainers-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 29%;
  border: 2px solid #343a40;
  margin-left: 2%;
  margin-bottom: 3%;
  overflow: auto;
  /* border-radius: 15px; */
  /* padding: 1%; */
}
.gainers-card-expanded {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 69%;
  border: 2px solid #343a40;
  margin-left: 2%;
  margin-bottom: 3%;
  overflow: auto;
}
.gainers-card-not-expanded {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 49%;
  border: 2px solid #343a40;
  margin-left: 2%;
  margin-bottom: 3%;
  overflow: auto;
}
.gainers-card-title {
  height: 40px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* text-align: center; */
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #343a40;
  color: white;
  /* border-top-left-radius: 5px; */
  /* border-top-right-radius: 10px; */
  position: sticky;
  top: 0;
  z-index: 1;
}
.expand-icon {
  height: 70%;
  /* box-shadow: 0px 2px 2px lightgray; */
  justify-self: flex-end;
}
.gianer-table-container {
  /* height: 78%; */
  /* height: inherit; */
  width: auto;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  /* margin-right: 3px; */
  border-collapse: separate;
}
.gainers-card::-webkit-scrollbar-track,
.gainers-card-expanded::-webkit-scrollbar-track,
.gainers-card-not-expanded::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 2%;
  border-right-color: #343a40;
}
.gainers-card::-webkit-scrollbar,
.gainers-card-expanded::-webkit-scrollbar,
.gainers-card-not-expanded::-webkit-scrollbar {
  width: 20px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.gainers-card::-webkit-scrollbar-thumb,
.gainers-card-expanded::-webkit-scrollbar-thumb,
.gainers-card-not-expanded::-webkit-scrollbar-thumb {
  background-color: #d4d0d1;
  /* border: 2px solid #555555; */
  border-radius: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  position: relative;
  font-size: 12px;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
}

thead {
  background-color: #f5f5f5;
}
.gianer-table-header {
  position: sticky;
  top: 0;
}
th {
  position: sticky;
  top: 0;
}
thead th {
  background-color: #f7efee;
  /* color: white; */
  position: sticky;
  top: 0;
  z-index: 2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  th,
  td {
    padding: 10px 5px;
  }
}
