.scroller {
  width: 100%;
  margin-top: 5%;
  /* z-index: 0; */
}
.scroller[data-animated="true"] {
  overflow: hidden;
  /* mask: linear-gradient(40deg, transparent, white 10%, white 80%, transparent); */
  /* background-color: blue; */
}
.scroller_inner {
  width: 100vw;
  display: flex;
  padding-block: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] .scroller_inner {
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}
.scroller[data-animated="true"] .scroller_inner:hover {
  animation-play-state: paused;
}
.box {
  display: flex;
  background-color: #F8F9FA;
  font-family: Arial, sans-serif;
  border: 2px solid #343a40;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
