.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
  /* height: auto; */
  /* border: 2px solid #343a40; */
  /* border-radius: 5px; */
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 20px;
  border: 2px solid #ddd;
  border-color: #343a40;
  border-radius: 20px;
  font-size: 16px;
  transition: border-color 0.3s;
}
.search-input:focus {
  outline: none;
  border-color: #007BFF;
}

.search-icon {
  /* position: absolute; */
  /* right: 15px;
  top: 50%; */
  /* transform: translateY(-50%); */
  color: #aaa;
  pointer-events: none;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-results div {
  padding: 10px;
}

.search-results div:nth-child(even) {
  background-color: #f8f9fa;
}

.search-results div:hover {
  background-color: #f0f0f0;
}
