/* .stock-news{
  height: 70vh;
} */


.news-section {
  font-family: "Arial", sans-serif;
  height: 100%;
  overflow: auto;
}
.news-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.news-section::-webkit-scrollbar {
  width: 20px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.news-section::-webkit-scrollbar-thumb {
  background-color: #d4d0d1;
  border-radius: 15px;
}
.news-title {
  margin: 0;
  color: #007bff;
  font-size: 18px;
}

.news-section-header {
  color: white;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  padding-left: 5%;
  display: flex;
  
  text-align: center;
  align-items: center;
  background-color: #343a40;
  
  position: sticky;
  top: 0;
}

.news-section h2 {
  color: white;
  background-color: #343a40;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  /* padding: 30px; */
}

.news-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-item {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 3%;
  padding-right: 3%;
}

.news-image {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.news-content {
  flex-grow: 1;
}

.news-summary {
  font-size: 14px;
  color: #666;
}

.news-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.news-link:hover {
  text-decoration: underline;
}

.news-date {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.stock-news-placeholder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F9FA;
  color: #343A40;
}
.placeholder-message{
  font-size: 1.1rem;
  font-weight: 600;
  
}

@media (max-width: 768px) {
  .news-item {
    flex-direction: column;
    align-items: center;
  }

  .news-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
