.sidebar {
  background-color: #191970;
  position: fixed;
  top: 60px;
  color: #f8f9fa;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  min-height: 100vh;
  z-index: 1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar.open {
  transform: translateX(0);
  width: 11vw;
}

.sidebar.closed {
  transform: translateX(-100%);
  width: 5vw;
}

.sidebar-items {
  margin-top: 40%;
  font-size: 1.1rem;
  cursor: pointer;
}
.sidebar-item-glassy {
  padding: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(52, 58, 64, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.sidebar-item:hover {
  background: rgba(255, 255, 255, 0.4);
  color: black;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

.sidebar a {
  color: #ffffff; /* White for links */
  text-decoration: none; /* No underline */
  margin: 10px 0; /* Margin between links */
  display: block; /* Block display for full-width click areas */
}

.sidebar a:hover,
.sidebar a.active {
  color: #007bff; /* Sky Blue for hover and active states */
}
