:root {
  --triangle-color: #009975;
}
.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.middle-container {
}

.middle-area {
  display: flex;
  height: 65vh;
}
.news-container {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 60vh;
  width: 92vw;
  overflow: auto;
  margin-left: 3%;
  border: 2px solid #343a40;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tooltip {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s;
}

.linear-chart {
  width: 100%;
  height: auto;
  display: block;
}

.most-shared-stocks {
  width: 25%;
  margin-left: 1%;
}

.company-profile {
  width: 25%;
  margin-left: 3%;
}

.scroller-stock-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.stock-change-value {
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .middle-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vh;
  }
  .company-profile {
    width: auto;
    margin-right: 2%;
  }
  .most-shared-stocks {
    width: auto;
    margin-right: 2%;
    max-height: 600px;
  }
}
