:root {
  --triangle-color: green;
}
.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scroller {
  width: 100%;
  margin-top: 5%;
  /* z-index: 0; */
}
.scroller[data-animated="true"] {
  overflow: hidden;
  /* mask: linear-gradient(40deg, transparent, white 10%, white 80%, transparent); */
  /* background-color: blue; */
}
.scroller_inner {
  width: 100vw;
  display: flex;
  padding-block: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] .scroller_inner {
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}
.scroller[data-animated="true"] .scroller_inner:hover {
  animation-play-state: paused;
}

.box {
  /* min-width: 150px; */
  display: flex;
  background-color: #e2e8f1;
  /* height: 70px; */
  font-family: Arial, sans-serif;
  border: 1px solid #343a40;
  border-radius: 15px;
  padding: 10px;
  /* background-color: #f9f9f9; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.most-shared-stocks {
  width: 30%;
  margin-left: 5%;
}


.most-shared-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: -1;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 10%;
  /* margin-left: 10px; */
  height: 60vh;
}
.most-shared-card-title {
  /* margin-top: 20px; */
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.middle-area {
  /* height: 60vh; */
  width: 90vw;
  display: flex;
  padding-left: 10%;
  /* justify-content: space-evenly; */
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


.stock-trade_count {
  font-size: 0.7rem;
}
.stock-volume {
  font-size: 0.7rem;
}
.stock-name {
  font-size: 14px;
  font-weight: bold;
}

.stock-price {
  font-size: 14px;
}

.stock-change {
  font-size: 12px;
  margin-top: 5px;
}

.stock-volume {
  font-size: 14px;
  margin-top: 5px;
  color: #666;
}

.tooltip {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s;
}

.linear-chart {
  width: 100%;
  height: auto;
  display: block;
}

.time-buttons {
  color: blue;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  max-width: 600px;
  margin: auto;
  border: 3px solid #007bff;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-results div {
  padding: 10px;
}

.search-results div:hover {
  background-color: #f0f0f0;
}

.table-container {
  height: 40vh;
  width: auto;
  overflow-y: auto;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  position: relative;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
}

thead {
  background-color: #f5f5f5;
}
.table-header {
  position: sticky;
  top: 0;
}
th {
  position: sticky;
  top: 0;
}
thead th {
  background-color: #343a40;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  th,
  td {
    padding: 10px 5px;
  }
}


.stock-details-container {
  display: flex;
  /* justify-content: space-between; */

  /* border-bottom-left-radius: 8px; */
}






.scroller-stock-logo{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  /* background-color: #333; */
}

.stock-change-value{
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  
}
