:root {
  --triangle-color: green;
}
.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.middle-area {
  display: flex;
  height: 65vh;
  /* width: 90vw; */
  /* display: flex; */
  /* padding-left: 10%; */
  /* justify-content: space-evenly; */
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.stock-trade_count {
  font-size: 0.7rem;
}
.stock-volume {
  font-size: 0.7rem;
}
.stock-name {
  font-size: 14px;
  font-weight: bold;
}

.stock-price {
  font-size: 14px;
}

.stock-change {
  font-size: 12px;
  margin-top: 5px;
}

.stock-volume {
  font-size: 14px;
  margin-top: 5px;
  color: #666;
}

.tooltip {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s;
}

.linear-chart {
  width: 100%;
  height: auto;
  display: block;
}

.time-buttons {
  color: blue;
  cursor: pointer;
}

.most-shared-stocks {
  width: 25%;
  margin-left: 1%;
}

.company-profile {
  width: 25%;
  margin-left: 1%;
}



.scroller-stock-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  /* background-color: #333; */
}

.stock-change-value {
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}
