.biggest-gainers-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 49%;
  border: 2px solid #343a40;
  margin-left: 2%;
  margin-bottom: 3%;
}
.biggest-gainers-card-title {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #343a40;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.expand-icon{
  height: 70%;
  box-shadow: 0px 2px 2px lightgray;
justify-self: flex-end;
}
.biggest-gianer-table-container {
  height: 78%;
  width: auto;
  overflow-y: auto;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  margin-right: 3px;
  border-collapse: separate;
}
.biggest-gianer-table-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-bottom-right-radius: 10px;
  margin-right: 2%;
  border-right-color: #343a40;
}
.biggest-gianer-table-container::-webkit-scrollbar {
  width: 20px;
  background-color: #f5f5f5;
}
.biggest-gianer-table-container::-webkit-scrollbar-thumb {
  background-color: #d4d0d1;
  /* border: 2px solid #555555; */
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  position: relative;
  font-size: 12px;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
}

thead {
  background-color: #f5f5f5;
}
.biggest-gianer-table-header {
  position: sticky;
  top: 0;
}
th {
  position: sticky;
  top: 0;
}
thead th {
  background-color: #f7efee;
  /* color: white; */
  position: sticky;
  top: 0;
  z-index: 2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  th,
  td {
    padding: 10px 5px;
  }
}
