.navbar-container {
  /* background-color: #343a40; */
  background-color: #125667;
  height: 60px;
  position: fixed;
  min-width: 100vw;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
.login{
  color: white;
  margin-right: 60px;
  font-size: 1.25rem;
}
.navbar-list {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  /* gap:20px; */
}

.nav-item {
  /* margin-right: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;

}
.nav-item-glassy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-right: 20px;
  font-size: 1.25rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(52, 58, 64, 0.3);

  color: black;
  /* font-weight: 600; */
  padding-left: 5px;
  padding-right: 5px;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.4);
  color: black;
  /* backdrop-filter: blur(10px); */
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* font-weight: 600; */
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown {
  list-style: none;
  position: absolute;
  background-color: #343a40;
  padding: 10px;
  display: none; /* Initially hide the dropdown */
  z-index: +1;
  border-radius: 5px;
}

.nav-item:hover .dropdown {
  display: block; /* Show the dropdown on hover */
}

.dropdown-item {
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #6c757d;
  border-radius: 5px;
}
